<form name="loginForm" novalidate ng-init="init()">
  <!-- USERNAME -->
         <div class="form-group">
             <label>Username</label>
             <input type="text" name="username" class="form-control" ng-model="login.username" ng-minlength="3" ng-maxlength="8" ng-required="true">
             <span>
                   <p ng-show="loginForm.username.$invalid && loginForm.username.$dirty">Invalid username. Must be Between 3-8 letters</p>
             </span>
         </div>

         <!-- Password -->
         <div class="form-group">
             <label>Password</label>
             <input type="password" name="password" class="form-control" ng-model="login.password" ng-required="true" ng-minlength="3" ng-maxlength="8">
             <span>
                   <p ng-show="login.password.$invalid && login.password.$dirty">Invalid Password. Must be Between 3-8 letters</p>
             </span>
         </div>

<input type="submit" class="btn btn-primary" ng-click="login()"  ng-disabled="loginForm.$invalid" value="Login">
</form>
